<!DOCTYPE html>
<html ng-app="batch_list">
{% extends "master/empty.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
    {% block css %}
        {{ super() }}
        <link href="{{ url_for('static',filename='master/css/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body class="skin-black">
{% block body %}
    {{ super() }}
{% endblock %}
{% block content %}
    <aside class="right-side">
        <section class="content-header">
            <h1>
                Batch
                <small>Table</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Batch</a></li>
                <li class="active">Table</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Manage Data</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Course Name</th>
                                    <th>Faculty Name</th>
                                    <th>Day</th>
                                    <th>Time</th>
                                    <th>Active</th>
                                    <th>Entries</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                {% for r in batch %}
                                <tr>
                                    {% for c in r %}
                                    <td>{{ c }}</td>
                                    {% endfor %}
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <form>
                                                <input type="hidden" ng-model="bid" name="bid" id="bid" value="{{r[0]}}">
                                                <button type="button" ng-controller="edit" class="btn btn-xs btn-info">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </button>

                                                <button type="button" ng-controller="active" class="btn btn-xs btn-success" name="Active">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>

                                                <button type="button" ng-controller="delete" class="btn btn-xs btn-danger" name="Delete">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static',filename='master/js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='master/js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            angular.module('batch_list', []).controller('edit', ['$scope','$log', '$http', function ($scope, $log, $http) {
                function send(url,bid) {
                    $http({
                        method: 'POST',
                        url: url,
                        data: {
                            bid: bid
                        }
                    }).then(function (response) {
                        window.location = response;
                    }), function (error) {
                        console.log(error);
                    }
                };

                $scope.edit = function () {
                    $scope.url = "{{ url_for('rtblist') }}";
                    send(url, $scope.bid);
                };

                $scope.active = function(){
                    $scope.url = "{{ url_for('bactive') }}";
                    send(url, $scope.bid);
                };

                $scope.delete = function(){
                    $scope.url = "{{ url_for('bdelete') }}";
                    send(url, $scope.bid);
                };
            }]);

            $("#example2").dataTable();
        });
    </script>
{% endblock %}
</body>
</html>
