<!DOCTYPE html>
{% extends "master/empty.html" %}
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    {{ super() }}
    {% block css %}
        {{ super() }}
    {% endblock %}
{% endblock %}
</head>
<body>
{% block body %}
    {{ super() }}
{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('techUpdate') }}">
    <input type="hidden" name="id" value="{{ row[0][0] }}">
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    <div class="form-box">
        <h3 class="header smaller lighter blue"> Technology table</h3>
        <input type="hidden" name="id" value="{{ row[0][0] }}" />
        <div class="form-group">
            <input type="text" class="form-control" name="technology" value="{{ row[0][1] }}" /><br />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="framework" value="{{ row[0][2] }}" /><br />
        </div>
        <div class="form-group">
            <a href="{{ url_for('techUpdate') }}">
                <button type="submit" name="Update">Update</button>
            </a>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
</body>
</html>