<!DOCTYPE html>
<html>
{% extends "master/empty.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
    {% block css %}
        {{ super() }}
        <link href="{{ url_for('static',filename='master/css/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body class="skin-black">
{% block body %}
    {{ super() }}
{% endblock %}
{% block content %}
    <aside class="right-side">
        <section class="content-header">
            <h1>
                Invoice
                <small>Table</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Invoice</a></li>
                <li class="active">Table</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Manage Data</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <form role="form">
                                <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Course Name</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="course_txt" id="course_txt">
                                                    <option value="ALL">All</option>
                                                    {% for r in range(0,course_name|length) %}
                                                        <option value="{{ course_name[r][0] }}:{{ course_name[r][1] }}">{{ course_name[r][1] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div><br />

                                <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Faculty Name</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="faculty_txt" id="faculty_txt">
                                                    <option value="ALL">All</option>
                                                    {% for r in range(0,faculty_name|length) %}
                                                        <option value="{{ faculty_name[r][0] }}">{{ faculty_name[r][1] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                </div><br />

                                <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Filter Search</label>
                                            <div class="col-sm-4">
                                                <button type="submit" class="sendAjax btn btn-primary btn-mini" formmethod="post">Filter</button>
                                            </div>
                                        </div>
                                </div>
                            </form>
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="detail-col">Details</th>
                                    <th>Id</th>
                                    <th>Student Name</th>
                                    <th>Course Name</th>
                                    <th>Fees</th>
                                    <th>Remaining Fees</th>
                                    <th>Mobile No.</th>
                                    <th>Installment Nos.</th>
                                    <th>Faculty Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                {% for r in row %}
                                <tr>
                                    <td>
                                        <div class="action-buttons">
                                            <a href="#" class=" center green bigger-140 show-details-btn" title="Show Details">
                                                <i class="ace-icon fa fa-angle-double-down"></i>
                                                <span class="sr-only">Details</span>
                                            </a>
                                        </div>
                                    </td>
                                    {% for c in range(0,7) %}
                                    <td>{{ r[c] }}</td>
                                    {% endfor %}
                                    <td>{{ r[8] }}</td>

                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <form>
                                                <input type="hidden" name="id" value="{{r[0]}}">
                                                <button class="btn btn-xs btn-info" formmethod="post" formaction="{{ url_for('rtclist') }}">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </button>

                                                <button type="submit" class="btn btn-xs btn-success" name="Active" formmethod="POST" formaction="{{ url_for('cactive') }}">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>

                                                <button type="submit" class="btn btn-xs btn-danger" name="Delete" formmethod="POST" formaction="{{ url_for('cdelete') }}">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static',filename='master/js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='master/js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            $("#example2").dataTable();

            $('.sendAjax').bind('change', function() {
                $.ajax({
                    url: "{{ url_for('rtlist') }}",
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response){
                        var data = JSON.parse(response);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });
    </script>
{% endblock %}
</body>
</html>